.title {
    margin: 0 0 30px;
    font-family: inherit;
    font-weight: 300;
    line-height: 1.2;
    color: #fff;
    position: relative;
}

.title h2 {
    margin: 0;
    font-size: 2rem;
}

.title::after{
    position: absolute;
    content: '';
    width: 40%;
    height: 3px;
    bottom: -25px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #ff4a57!important;
}