.skillsBlock {
    min-height: 100vh;
    background-color: #1f2235;
}
.skillsContainer {
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

}
.titleBlock {
    background-color: darkgray;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 624px){
    .skills{
        justify-content: center;
    }
}