.mainBlock {
    height: 100vh;
    background-color: #23263a;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
}

.text {
    display: flex;
    width: 300px;
    background-color: azure;
}

.photo {
    display: flex;
    width: 300px;
    height: 400px;
    background-color: darkgrey;
}

@media screen and (max-width: 751px){
    .mainBlock{
        flex-direction: column;
        align-content: center;
    }
}
