.nav {
   border: 1px solid;
   width: 450px;
   display: flex;
   justify-content: space-between;
   margin-right: 20%;
   a {
      //border: 1px solid white;
      color: white;
      font-size: 20px;
      line-height: 26px;
      font-weight: normal;
      text-decoration: none;
      margin: 0 20px;
   }
   a:hover {
      color: #fd4a57;
   }
}

