.socialNetwork {
    width: 150px;
    height: 150px;
    /*background-color: darkgrey;*/
    margin: 10px;
    background-position: center;
    background-size: cover;
}

.socialNetwork img{
    width: 150px;
    height: 150px;
}
