@import '../common/styles/sass/variables.sass';

.projectsBlock {
  background-color: $bgSecondColor;

  .projectsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    .projects {
      margin: 30px 0 30px 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-start;
      @media screen and (max-width: 624px) {
        justify-content: center;
      }
    }
  }
}
