.projectsBlock {
    height: 100vh;
    background-color: cornflowerblue;
}

.projectsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
.title {
    background-color: darkgray;
}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}